$bg_color: #1B1B24;

* { margin: 0; padding: 0; }

html, body {
  font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
  font-size: 90%;
  background: $bg_color;
  color: #d6e0e4;
}

body { position: relative; }

li { list-style-type: none; }

.container { padding: 20px; }

#chat {
  width: 85%;
  padding-bottom: 80px;
  #comment {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 85%;
    background: $bg_color;
    .inner {
      margin: 20px;
      textarea {
        width: 85%;
        height: 50px;
        padding: 5px;
        background: #303a40;
        color: #d6e0e4;
        border: none;
        font-family: 'Lucida Grande';
        font-size: 14px;
      }
      input[type="button"] {
        vertical-align: top;
        background: #21a7d4;
        color: #fff;
        padding: 4px 8px;
        border-radius: 3px;
        border: none;
        margin-left: 5px;
      }
    }
  }
  #conversation {
    width: 100%;
    font-size: 95%;
    border-collapse: collapse;
    td { padding: 7px; vertical-align: top; }
    td.username { font-weight: 700; width: 1%; padding-right: 10px; border-right: 1px solid $bg_color + #111; white-space: nowrap; }
    td.comment { padding-left: 10px; }
    td.join, td.disconnect { color: $bg_color + #333; font-size: 90%; }
    td.join { color: #21a7d4; }
    td.timeago { width: 100px; text-align: right; color: $bg_color + #333; }
    tr.me td { background: $bg_color + #050505; }
    tr.pending td { opacity: 0.3; }
  }
}

#presence {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  background: #262631;
  h3 { margin-bottom: 1em; }
  #toggle-sound {
    display: block;
    padding: 0 10px 0 34px;
    height: 24px;
    background: transparent url(../images/speaker.png) no-repeat 0 0;
    background-size: 24px 48px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    opacity: 0.3;
    color: #ccc;
    font-size: 0.8em;
    text-decoration: none;
    &:hover { opacity: 1.0; }
    &.off { background-position: 0 -24px; }
  }
}

@media screen and (max-device-width:480px) {
  #chat {
    width: 100%;
    .container { padding: 0; }
    #comment {
      width: 100%;
      background: #f7f7f7;
      .inner {
        margin: 5px;
        textarea {
          width: 70%;
          height: 30px;
          background: #fff;
          border: 1px solid #ccc;
        }
      }
    }
    #conversation {
      td.timeago { display: none; }
    }
  }
  #presence { display: none; }
}